# Loading Data Example

In [2]:
import pyblp

pyblp.__version__

'0.6.0'

Any number of functions can be used to load the example data into memory. In this example, we'll first use [NumPy](https://www.numpy.org/).

In [3]:
import numpy as np
blp_product_data = np.recfromcsv(pyblp.data.BLP_PRODUCTS_LOCATION, encoding='utf-8')
blp_agent_data = np.recfromcsv(pyblp.data.BLP_AGENTS_LOCATION, encoding='utf-8')

Record arrays can be cumbersome to manipulate. A more flexible alternative is the [pandas](https://pandas.pydata.org/) DataFrame. Unlike NumPy, pyblp does not directly depend on pandas, but it can be useful when manipulating data.

In [7]:
import pandas as pd
blp_product_data = pd.read_csv(pyblp.data.BLP_PRODUCTS_LOCATION)
blp_agent_data = pd.read_csv(pyblp.data.BLP_AGENTS_LOCATION)

Another benefit of DataFrame objects is that they display nicely in Jupyter notebooks.

In [10]:
blp_product_data.head(10)

,market_ids,clustering_ids,car_ids,firm_ids0,firm_ids1,region,shares,prices,hpwt,air,...,demand_instruments2,demand_instruments3,demand_instruments4,demand_instruments5,supply_instruments0,supply_instruments1,supply_instruments2,supply_instruments3,supply_instruments4,supply_instruments5
0,1971,AMGREM71,129,15,15,US,0.001051,4.935802,0.528997,0,...,0.0,-0.688460,-0.428243,-0.192959,0.444994,0.221971,0.0,0.697611,0.416169,-0.119246
1,1971,AMHORN71,130,15,15,US,0.000670,5.516049,0.494324,0,...,0.0,-0.709151,-0.475407,-0.187118,0.446641,0.204394,0.0,0.719701,0.467553,-0.133489
2,1971,AMJAVL71,132,15,15,US,0.000341,7.108642,0.467613,0,...,0.0,-0.620889,-0.540931,-0.197218,0.442757,0.187844,0.0,0.623639,0.539601,-0.109544
3,1971,AMMATA71,134,15,15,US,0.000522,6.839506,0.426540,0,...,0.0,-0.611296,-0.595589,-0.192055,0.444055,0.167564,0.0,0.613802,0.600176,-0.121895
4,1971,AMAMBS71,136,15,15,US,0.000442,8.928395,0.452489,0,...,0.0,-0.536673,-0.606958,-0.211098,0.438311,0.177433,0.0,0.532744,0.611291,-0.078455
5,1971,BKSKYL71,138,19,16,US,0.002756,7.153086,0.450871,0,...,0.0,-0.621973,-0.603133,-0.204253,0.389607,0.155471,0.0,0.616426,0.641543,-0.130752
6,1971,BKLSAB71,141,19,16,US,0.002651,9.856790,0.564002,0,...,0.0,-0.614660,-0.649137,-0.237227,0.388401,0.205092,0.0,0.604496,0.682070,-0.057688
7,1971,BKCNTU71,143,19,16,US,0.000487,11.269136,0.731368,0,...,0.0,-0.792255,-0.646629,-0.248121,0.388333,0.289361,0.0,0.778520,0.666744,-0.037600
8,1971,BKELCT71,144,19,16,US,0.002415,12.135802,0.719014,0,...,0.0,-0.736684,-0.662876,-0.254207,0.388299,0.282078,0.0,0.722510,0.684904,-0.025040
9,1971,BKRIVE71,145,19,16,US,0.000551,12.970370,0.728324,0,...,0.0,-0.705592,-0.636683,-0.258453,0.388345,0.286598,0.0,0.691340,0.655727,-0.016694

In [11]:
blp_agent_data.head(10)

,market_ids,weights,nodes0,nodes1,nodes2,nodes3,nodes4,nodes5,income
0,1971,0.005,0.548814,0.292642,0.457760,0.564690,0.395537,0.392173,9.728478
1,1971,0.005,0.715189,0.566518,0.376918,0.839746,0.844017,0.041157,7.908957
2,1971,0.005,0.602763,0.137414,0.702335,0.376884,0.150442,0.923301,11.079404
3,1971,0.005,0.544883,0.349712,0.207324,0.499676,0.306309,0.406235,17.641671
4,1971,0.005,0.423655,0.053216,0.074280,0.081302,0.094570,0.944282,12.423995
5,1971,0.005,0.645894,0.379068,0.366027,0.324155,0.351478,0.722724,22.774226
6,1971,0.005,0.437587,0.114151,0.340635,0.915651,0.009799,0.918320,37.340036
7,1971,0.005,0.891773,0.561813,0.120524,0.853452,0.491934,0.823268,25.656146
8,1971,0.005,0.963663,0.641594,0.854562,0.594157,0.977535,0.646897,10.226715
9,1971,0.005,0.383442,0.987092,0.668148,0.905366,0.951673,0.067939,11.876470